<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".data.base.NotificationApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".screens.category.ChartActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".screens.forgot.NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".screens.forgot.VerifyResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".screens.forgot.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".screens.orders.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".screens.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".screens.orders.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".screens.settings.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".screens.settings.ChangeInfoActivity"
            android:exported="false" />
        <activity
            android:name=".screens.cart.InfoCartActivity"
            android:exported="false" />
        <activity
            android:name=".screens.cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".screens.home.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".screens.product.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".screens.category.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".screens.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>